<div class="container col-12 col-md-8 border border-info">
<p><%= t('.title')%>: <%= @badge.title%></p>
<p><%= t('.rule')%>: <%= @badge.rule%></p>
<p><%= t('.value')%>: <%= @badge.value%></p>
<p><%= t('.image')%>: <%= image_tag @badge.img_url, size: 80 %></p>

<%= link_to t('.edit'), edit_admin_badge_path(@badge) %>
<%= link_to t('.back'), admin_badges_path %>
</div>