<%= render 'shared/errors', resource: @badge %>

<div class="row justify-content-center mt-4">
  <div class="col col-md-8">
    <h3><%= t('.header') %> </h3>
    <table class="table caption-top table-hover align-middle mt-3">
      <tbody>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.image') %></th>
      </tr>
      <%= render @badges %>
      </tbody>
    </table>

    <h3><%= t('.user_header') %> </h3>
    <table class="table caption-top table-hover align-middle mt-3">
      <tbody>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.image') %></th>
      </tr>
      <%= render @user_badges %>
      </tbody>
    </table>
  </div>
</div>