<h1><%= @test_passage.test.title %>Test was completed! </h1>
<p>
  You answered <%= @test_passage.correct_questions %> of <%= @test_passage.test.questions.count %> questions correctly
  (<b class="<%= message_of_result(@test_passage)%>"> <%= @test_passage.rating %>%</b>)
</p>

<h3>
  Test <%= message_of_result(@test_passage)%>
</h3>
<%= link_to 'Back to list of tests', tests_path %>
