<div class="container col-12 col-md-8">
  <h1><%= t('.header', title: @test_passage.test.title )%></h1>
  <p>
    <%= t('.answer_pattern', correct_answer: @test_passage.correct_questions) %>
    <%= @test_passage.test.questions.count %>
    (<b class="<%= message_of_result(@test_passage)%>"> <%= @test_passage.rating %>%</b>)
  </p>

  <h3>
    <%= t('.test')%>
    <%= t(".#{message_of_result(@test_passage)}") %>
  </h3>
  <%= link_to t('item.link.back'), tests_path %>
</div>