<h1><%= t('.header') %></h1>

<p>
  <%= @answer.question.body %>
</p>
<%#= render 'form', answer: @answer %>
<%= render 'form'%>

<%= link_to t('item.link.show'), admin_answer_path(@answer) %> |
<%= link_to t('item.link.back'), admin_question_path(@answer.question) %>
