<tr>
  <td class = "align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class = "align-middle"><%= test_level(test) %></td>
  <td class = "align-middle"><%= test.category.title %></td>
  <td class = "align-middle"><%= test.author.email %></td>
  <td class = "align-middle"><%= count_of_questions(test) %></td>
  <td class = "align-middle"><%= link_to t('item.link.show'), admin_test_path(test), class: "btn btn-outline-info btn-sm" %></td>
  <td class = "align-middle">
    <%= link_to t('item.link.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: "btn btn-outline-warning btn-sm form-inline-link" %>
  </td>
  <td class = "align-middle">
    <%= link_to t('item.link.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('item.popup.confirm') },
                class: "btn btn-outline-danger btn-sm" %>
  </td>
</tr>
