<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author.email %></td>
  <td><%= count_of_questions(test) %></td>
  <td><%= link_to t('item.link.show'), admin_test_path(test) %></td>
  <td><%= link_to t('item.link.edit'), edit_admin_test_path(test) %></td>
  <td>
    <%= link_to t('item.link.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('item.popup.confirm') }%>
  </td>
</tr>
