<div>
  <%= link_to t('item.link.new_test'), new_admin_test_path, :class => 'btn btn-secondary m-2'%>
</div>
<div class="row justify-content-center mt-4">
  <div class="col col-md-8">
    <h3><%= t('.header') %> </h3>
    <table class="table caption-top table-hover align-middle mt-3">
      <tbody>
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.author') %></th>
          <th><%= t('.q_count') %></th>
          <th colspan="3"><%= t('.actions')%></th>
        </tr>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>
