<p>
  <strong>Title:</strong>
  <%=@test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%=@test.level %>
</p>

<p>
  <strong>Author:</strong>
  <%= @test.author.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<h3>Test's questions</h3>
<table>
  <thead>
  <tr>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
    <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
