<nav class="navbar navbar-light bg-light">
  <%= link_to "Test Guru", root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if current_user.is_a?(Admin) %>
      <%= link_to t('nav.panel'), admin_tests_path, :class => 'btn btn-outline-secondary btn-sm' %>
    <% end %>
    <% if user_signed_in? %>
      <%= t('nav.welcome') %><b><%= current_user.email %></b> <%= t('nav.guru') %> |
      <%= link_to t('item.link.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('item.link.signup'), new_user_registration_path %> |
      <%= link_to t('item.link.login'), new_user_session_path %>
    <% end %>
  </span>
</nav>
